
@import './var.less';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html, body, #app {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}

ul, li, ol {
  list-style: none;
}

ul, li, ol, h1, h2, h3, h4, h5, h6, p, div {
  padding: 0;
  margin: 0;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit;
}

:-webkit-any-link {
  color: inherit;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
